**1. Dataset Selection**
       googleplaystore.csv

In [ ]:
import pandas as pd
data=pd.read_csv("/content/googleplaystore.csv")
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

2. **Data** **preprocessing**
Handling missing values

In [ ]:
#Missing values
data.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [ ]:
#Missing values
data.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [ ]:
#Missing values
data.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [ ]:
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [ ]:
data.columns[data.isna().any()].tolist()

['Rating', 'Type', 'Content Rating', 'Current Ver', 'Android Ver']

In [ ]:
cat_columns=data.select_dtypes(include='object').columns.tolist()
cat_columns

['App',
 'Category',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated',
 'Current Ver',
 'Android Ver']

In [ ]:
num_columns=data.select_dtypes(include=['int64','float64']).columns.tolist()
num_columns

['Rating']

In [ ]:
# First, fill missing categorical values in the main `data` DataFrame with their mode.
for col in cat_columns:
  mode = data[col].mode()[0]
  data.loc[:, col] = data[col].fillna(mode)

# Create copies for demonstration of mean and median imputation.
# At this point, `data` has its categorical missing values filled.
mean_val = data.copy()
median_val = data.copy()

# Fill missing numerical values in the `mean_val` DataFrame with the mean of the original column.
for col in num_columns:
  # Using the mean of the column from the 'data' DataFrame (which at this point may still have NaNs in 'Rating')
  # or use `mean_val[col].mean()` if you want the mean of the data copied so far.
  # Sticking to `data[col].mean()` to get the mean from the state *before* this specific mean imputation.
  mean_val_col = data[col].mean()
  mean_val.loc[:, col] = mean_val[col].fillna(mean_val_col)

# Fill missing numerical values in the `median_val` DataFrame with the median of the original column.
for col in num_columns:
  median_val_col = data[col].median()
  median_val.loc[:, col] = median_val[col].fillna(median_val_col)

print("Data after filling categorical missing values with mode (original 'data' state after mode imputation):")
print(data.head())
print("\nData after filling numerical with Mean and categorical with Mode (mean_val):")
print(mean_val.head())
print("\nData after filling numerical with Median and categorical with Mode (median_val):")
print(median_val.head())

Data after filling categorical missing values with mode (original 'data' state after mode imputation):
                                                 App        Category  Rating  \
0     Photo Editor & Candy Camera & Grid & ScrapBook  ART_AND_DESIGN     4.1
1                                Coloring book moana  ART_AND_DESIGN     3.9
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ART_AND_DESIGN     4.7
3                              Sketch - Draw & Paint  ART_AND_DESIGN     4.5
4              Pixel Draw - Number Art Coloring Book  ART_AND_DESIGN     4.3

   Reviews  Size  Installs  Type Content Rating                     Genres  \
0      159   19M     10000  Free       Everyone               Art & Design
1      967   14M    500000  Free       Everyone  Art & Design;Pretend Play
2    87510  8.7M   5000000  Free       Everyone               Art & Design
3   215644   25M  50000000  Free           Teen               Art & Design
4      967  2.8M    100000  Free       Everyone    Art & Design;Creativity

  Last Updated         Current Ver   Android Ver
0   2018-01-07               1.0.0  4.0.3 and up
1   2018-01-15               2.0.0  4.0.3 and up
2   2018-08-01               1.2.4  4.0.3 and up
3   2018-06-08  Varies with device    4.2 and up
4   2018-06-20                 1.1    4.4 and up

Data after filling numerical with Mean and categorical with Mode (mean_val):
                                                 App        Category  Rating  \
0     Photo Editor & Candy Camera & Grid & ScrapBook  ART_AND_DESIGN     4.1
1                                Coloring book moana  ART_AND_DESIGN     3.9
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ART_AND_DESIGN     4.7
3                              Sketch - Draw & Paint  ART_AND_DESIGN     4.5
4              Pixel Draw - Number Art Coloring Book  ART_AND_DESIGN     4.3

   Reviews  Size  Installs  Type Content Rating                     Genres  \
0      159   19M     10000  Free       Everyone               Art & Design
1      967   14M    500000  Free       Everyone  Art & Design;Pretend Play
2    87510  8.7M   5000000  Free       Everyone               Art & Design
3   215644   25M  50000000  Free           Teen               Art & Design
4      967  2.8M    100000  Free       Everyone    Art & Design;Creativity

  Last Updated         Current Ver   Android Ver
0   2018-01-07               1.0.0  4.0.3 and up
1   2018-01-15               2.0.0  4.0.3 and up
2   2018-08-01               1.2.4  4.0.3 and up
3   2018-06-08  Varies with device    4.2 and up
4   2018-06-20                 1.1    4.4 and up

Data after filling numerical with Median and categorical with Mode (median_val):
                                                 App        Category  Rating  \
0     Photo Editor & Candy Camera & Grid & ScrapBook  ART_AND_DESIGN     4.1
1                                Coloring book moana  ART_AND_DESIGN     3.9
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ART_AND_DESIGN     4.7
3                              Sketch - Draw & Paint  ART_AND_DESIGN     4.5
4              Pixel Draw - Number Art Coloring Book  ART_AND_DESIGN     4.3

   Reviews  Size  Installs  Type Content Rating                     Genres  \
0      159   19M     10000  Free       Everyone               Art & Design
1      967   14M    500000  Free       Everyone  Art & Design;Pretend Play
2    87510  8.7M   5000000  Free       Everyone               Art & Design
3   215644   25M  50000000  Free           Teen               Art & Design
4      967  2.8M    100000  Free       Everyone    Art & Design;Creativity

  Last Updated         Current Ver   Android Ver
0   2018-01-07               1.0.0  4.0.3 and up
1   2018-01-15               2.0.0  4.0.3 and up
2   2018-08-01               1.2.4  4.0.3 and up
3   2018-06-08  Varies with device    4.2 and up
4   2018-06-20                 1.1    4.4 and up

For a numerical column like 'Rating', both mean and median imputation are commonly used, while mode imputation is generally less suitable unless the data is discrete or has a very distinct peak.

Given that outliers were identified in the 'Rating' column earlier in the notebook, median imputation would generally be the more robust and therefore 'best' method to use. It minimizes the distortion of the data distribution due to extreme values if they were present before imputation. Since the mean and median of the 'Rating' column (after outlier removal, or considering the values before imputation) are usually quite close, both methods might yield similar results in some cases, but median offers better resilience against potential skewness or outliers.
and i select the Mode is best for this DataSet

In [ ]:
data.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 0
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          0
Android Ver          0
dtype: int64

In [ ]:
for col in num_columns:

 data[col]=data[col].fillna(data[col].mean())

In [ ]:
data.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

 Detecting and treating outliers using IQR method

In [ ]:
outlier_info = {}

for col in num_columns:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
    outlier_info[col] = outliers.shape[0]

    print(f"{col}: {outliers.shape[0]} outliers")

Rating: 734 outliers

In [ ]:
data = data[~((data['Rating'] < lower_bound) | (data['Rating'] > upper_bound))]
print(f"Shape of data after removing outliers: {data.shape}")

Shape of data after removing outliers: (10107, 13)

In [ ]:
outlier_info = {}

for col in num_columns:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[col] < lower_bound) | (data[col] > upper_bound)]
    outlier_info[col] = outliers.shape[0]

    print(f"{col}: {outliers.shape[0]} outliers")

Rating: 0 outliers

In [ ]:
data.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

 Fixing incorrect data types or formats

In [ ]:
data['Reviews'] = pd.to_numeric(data['Reviews'], errors='coerce')
print("Converted 'Reviews' to numeric.")

Converted 'Reviews' to numeric.

/tmp/ipython-input-2467531157.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Reviews'] = pd.to_numeric(data['Reviews'], errors='coerce')

In [ ]:
# Convert 'Installs' to numeric. Remove '+' and ',' characters.
data['Installs'] = data['Installs'].apply(lambda x: str(x).replace('+', '').replace(',', ''))
data['Installs'] = pd.to_numeric(data['Installs'], errors='coerce')
print("Converted 'Installs' to numeric.")

Converted 'Installs' to numeric.

/tmp/ipython-input-873229366.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Installs'] = data['Installs'].apply(lambda x: str(x).replace('+', '').replace(',', ''))
/tmp/ipython-input-873229366.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Installs'] = pd.to_numeric(data['Installs'], errors='coerce')

In [ ]:
data['Last Updated']=pd.to_datetime(data['Last Updated'])
print("Converted 'Last Updated' to datetime.")

Converted 'Last Updated' to datetime.

/tmp/ipython-input-930913438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Last Updated']=pd.to_datetime(data['Last Updated'])

 Removing duplicate records

In [ ]:
data.duplicated().sum()

np.int64(473)

In [ ]:
data.drop_duplicates(inplace=True)
print(f"Number of duplicates after removal: {data.duplicated().sum()}")

Number of duplicates after removal: 0

/tmp/ipython-input-1223857504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop_duplicates(inplace=True)

In [ ]:
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.100000,159,19M,10000,Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.900000,967,14M,500000,Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.700000,87510,8.7M,5000000,Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.500000,215644,25M,50000000,Free,0.0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.300000,967,2.8M,100000,Free,0.0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.500000,38,53M,5000,Free,0.0,Everyone,Education,2017-07-25,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.000000,4,3.6M,100,Free,0.0,Everyone,Education,2018-07-06,1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,4.193338,3,9.5M,1000,Free,0.0,Everyone,Medical,2017-01-20,1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.500000,114,Varies with device,1000,Free,0.0,Mature 17+,Books & Reference,2015-01-19,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.500000,398307,19M,10000000,Free,0.0,Everyone,Lifestyle,2018-07-25,Varies with device,Varies with device

 Identifying and dropping irrelevant or redundant features

In [ ]:
 #Dropping the irrelevant data

data.drop(columns=['Price'],inplace=True)
data.head()

/tmp/ipython-input-3440411105.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['Price'],inplace=True)

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,10000,Free,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,500000,Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,5000000,Free,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,50000000,Free,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,100000,Free,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up

In [ ]:
cat_columns.remove('Price')
data_one_hot_encoding=pd.get_dummies(data,columns=cat_columns)
data_one_hot_encoding=data_one_hot_encoding.astype(int)
data_one_hot_encoding

,Rating,"App_""i DT"" Fútbol. Todos Somos Técnicos.",App_+Download 4 Instagram Twitter,App_- Free Comics - Comic Apps,App_.R,App_/u/app,App_058.ba,App_1. FC Köln App,App_10 Best Foods for You,App_10 Minutes a Day Times Tables,...,Android Ver_5.0 - 7.1.1,Android Ver_5.0 - 8.0,Android Ver_5.0 and up,Android Ver_5.1 and up,Android Ver_6.0 and up,Android Ver_7.0 - 7.1.1,Android Ver_7.0 and up,Android Ver_7.1 and up,Android Ver_8.0 and up,Android Ver_Varies with device
0,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10837,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10838,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10839,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10840,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

4. **Feature** **Scaling**

      * Min-Max Scaling
      * Max Absolute Scaling
      * Vector Normalization
      * Z-score (Standardization)

In [ ]:
#Feature Scaling
import numpy as np
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
data_one_hot_encoding[num_columns]=scaler.fit_transform(data_one_hot_encoding[num_columns])
data_one_hot_encoding.head()

,Rating,"App_""i DT"" Fútbol. Todos Somos Técnicos.",App_+Download 4 Instagram Twitter,App_- Free Comics - Comic Apps,App_.R,App_/u/app,App_058.ba,App_1. FC Köln App,App_10 Best Foods for You,App_10 Minutes a Day Times Tables,...,Android Ver_5.0 - 7.1.1,Android Ver_5.0 - 8.0,Android Ver_5.0 and up,Android Ver_5.1 and up,Android Ver_6.0 and up,Android Ver_7.0 - 7.1.1,Android Ver_7.0 and up,Android Ver_7.1 and up,Android Ver_8.0 and up,Android Ver_Varies with device
0,0.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler,MaxAbsScaler

# Assuming 'data' DataFrame is available from previous steps
# Create copies to demonstrate scaling without altering the main 'data' DataFrame
data_minmax_scaled = data.copy()
data_standard_scaled = data.copy()
data_maxabs_scaled = data.copy()
data_normailize_scaled = data.copy()


# Initialize the scalers
min_max_scaler = MinMaxScaler()
standard_scaler = StandardScaler()
max_abs_scaler = MaxAbsScaler()
# Clarify that normalize_scaler is also a StandardScaler for demonstration purposes
normalization_scaler = StandardScaler()


# Apply MinMaxScaler to 'Rating' column
data_minmax_scaled['Rating_scaled'] = min_max_scaler.fit_transform(data_minmax_scaled[['Rating']])
print("Data after MinMaxScaler on 'Rating':")
print(data_minmax_scaled[['Rating', 'Rating_scaled']].head(10))

print("\n")

# Apply StandardScaler to 'Rating' column
data_standard_scaled['Rating_scaled'] = standard_scaler.fit_transform(data_standard_scaled[['Rating']])
print("Data after StandardScaler on 'Rating':")
print(data_standard_scaled[['Rating', 'Rating_scaled']].head(10))

print("\n")
# apply maxabscaler to rating
data_maxabs_scaled['Rating_scaled'] = max_abs_scaler.fit_transform(data_maxabs_scaled[['Rating']])
print("Data after MaxAbsScaler on 'Rating':")
print(data_maxabs_scaled[['Rating', 'Rating_scaled']].head(10))

print("\n")
 #Apply standardization using StandardScaler for 'normalization' demonstration
data_normailize_scaled['Rating_scaled'] = normalization_scaler.fit_transform(data_normailize_scaled[['Rating']])
print("Data after Standardization (Z-score) on 'Rating':") # Changed print statement for clarity
print(data_normailize_scaled[['Rating', 'Rating_scaled']].head(10))
print("\n")

Data after MinMaxScaler on 'Rating':
   Rating  Rating_scaled
0     4.1       0.400000
1     3.9       0.266667
2     4.7       0.800000
3     4.5       0.666667
4     4.3       0.533333
5     4.4       0.600000
6     3.8       0.200000
7     4.1       0.400000
8     4.4       0.600000
9     4.7       0.800000


Data after StandardScaler on 'Rating':
   Rating  Rating_scaled
0     4.1      -0.602780
1     3.9      -1.251865
2     4.7       1.344478
3     4.5       0.695392
4     4.3       0.046306
5     4.4       0.370849
6     3.8      -1.576408
7     4.1      -0.602780
8     4.4       0.370849
9     4.7       1.344478


Data after MaxAbsScaler on 'Rating':
   Rating  Rating_scaled
0     4.1           0.82
1     3.9           0.78
2     4.7           0.94
3     4.5           0.90
4     4.3           0.86
5     4.4           0.88
6     3.8           0.76
7     4.1           0.82
8     4.4           0.88
9     4.7           0.94


Data after NormalizationScaler on 'Rating':
   Rating  Rating_scaled
0     4.1      -0.602780
1     3.9      -1.251865
2     4.7       1.344478
3     4.5       0.695392
4     4.3       0.046306
5     4.4       0.370849
6     3.8      -1.576408
7     4.1      -0.602780
8     4.4       0.370849
9     4.7       1.344478


Which is most effective and why?

Without a specific machine learning model or objective, it's hard to definitively say which is most effective. However, here are some general considerations for your 'Rating' column (which is positive and had outliers removed):

Standard Scaling is often a good default choice, especially for algorithms that rely on distance metrics (like K-Nearest Neighbors, SVMs, or neural networks) because it ensures all features contribute equally to the distance calculation. It's also robust to some extent against remaining mild outliers.
Min-Max Scaling is also a strong contender, especially since you've already removed outliers. For a feature like 'Rating' which inherently has a bounded scale (e.g., 1-5), Min-Max scaling can be very intuitive and effective, explicitly putting all ratings on a consistent 0-1 scale.
Max Absolute Scaling might be less commonly chosen here unless the data naturally centered around zero or had a specific sparsity requirement, which is not typical for ratings.
Given that 'Rating' is a continuous, positive-valued numerical feature with outliers already addressed, both Min-Max Scaling and Standard Scaling are likely to perform well. Many practitioners would lean towards Standard Scaling as a generally robust first choice, but Min-Max Scaling can be equally, if not more, appropriate if the desired outcome is to have all ratings explicitly within a [0, 1] range.

 **Categorical** **Variable** **Handling**

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data_label_encoding=data.copy()
for col in cat_columns:
  data_label_encoding[col]=le.fit_transform(data_label_encoding[col])
data_label_encoding.head(20)

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,6435,0,4.1,158,48,9,0,1,9,1115,111,15
1,2420,0,3.9,687,25,12,0,1,12,1123,962,15
2,8018,0,4.7,3766,343,14,0,1,9,1321,431,15
3,7243,0,4.5,4376,89,16,0,4,9,1267,2625,18
4,6492,0,4.3,687,57,11,0,1,11,1279,253,20
5,6354,0,4.4,166,203,10,0,1,9,837,106,8
6,7289,0,3.8,177,48,10,0,1,9,1224,253,15
7,4948,0,4.1,3027,104,13,0,1,9,1273,2269,18
8,4402,0,4.4,2209,129,13,0,1,9,1007,1379,10
9,5146,0,4.7,121,107,9,0,1,11,1292,1354,15
10,7713,0,4.4,2213,101,13,0,1,9,1043,181,17
11,6022,0,4.4,1897,22,13,0,1,9,1320,144,13
12,7661,0,4.2,3223,65,15,0,4,9,1200,1726,17
13,5555,0,4.6,1450,68,11,0,1,9,1285,181,20
14,58,0,4.4,863,144,11,0,1,9,1323,424,8
16,6433,0,4.7,1343,202,12,0,1,9,1320,1501,17
17,52,0,4.5,27,38,9,0,1,9,1054,106,8
18,4140,0,4.3,4316,148,14,0,1,9,1323,1157,15
19,8793,0,4.6,4398,123,15,0,1,9,1319,2184,17
20,5411,0,4.0,399,25,11,0,1,9,1218,1799,17

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
data_ordinal_encoding=data.copy()
oe=OrdinalEncoder()
data_ordinal_encoding['Genres']=oe.fit_transform(data_ordinal_encoding[['Genres']])
data_ordinal_encoding.head(20)

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,10000,Free,Everyone,9.0,2018-01-07,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,500000,Free,Everyone,12.0,2018-01-15,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,5000000,Free,Everyone,9.0,2018-08-01,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,50000000,Free,Teen,9.0,2018-06-08,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,100000,Free,Everyone,11.0,2018-06-20,1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,50000,Free,Everyone,9.0,2017-03-26,1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,50000,Free,Everyone,9.0,2018-04-26,1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,1000000,Free,Everyone,9.0,2018-06-14,6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,1000000,Free,Everyone,9.0,2017-09-20,2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,10000,Free,Everyone,11.0,2018-07-03,2.8,4.0.3 and up
10,Text on Photo - Fonteee,ART_AND_DESIGN,4.4,13880,28M,1000000,Free,Everyone,9.0,2017-10-27,1.0.4,4.1 and up
11,Name Art Photo Editor - Focus n Filters,ART_AND_DESIGN,4.4,8788,12M,1000000,Free,Everyone,9.0,2018-07-31,1.0.15,4.0 and up
12,Tattoo Name On My Photo Editor,ART_AND_DESIGN,4.2,44829,20M,10000000,Free,Teen,9.0,2018-04-02,3.8,4.1 and up
13,Mandala Coloring Book,ART_AND_DESIGN,4.6,4326,21M,100000,Free,Everyone,9.0,2018-06-26,1.0.4,4.4 and up
14,3D Color Pixel by Number - Sandbox Art Coloring,ART_AND_DESIGN,4.4,1518,37M,100000,Free,Everyone,9.0,2018-08-03,1.2.3,2.3 and up
16,Photo Designer - Write your name with shapes,ART_AND_DESIGN,4.7,3632,5.5M,500000,Free,Everyone,9.0,2018-07-31,3.1,4.1 and up
17,350 Diy Room Decor Ideas,ART_AND_DESIGN,4.5,27,17M,10000,Free,Everyone,9.0,2017-11-07,1.0,2.3 and up
18,FlipaClip - Cartoon animation,ART_AND_DESIGN,4.3,194216,39M,5000000,Free,Everyone,9.0,2018-08-03,2.2.5,4.0.3 and up
19,ibis Paint X,ART_AND_DESIGN,4.6,224399,31M,10000000,Free,Everyone,9.0,2018-07-30,5.5.4,4.1 and up
20,Logo Maker - Small Business,ART_AND_DESIGN,4.0,450,14M,100000,Free,Everyone,9.0,2018-04-20,4.0,4.1 and up

In [ ]:
!pip install category_encoders
import category_encoders as ce
data_binary_encoding = data.copy()
encoder = ce.BinaryEncoder(cols=['Genres'])
data_binary_encoding = encoder.fit_transform(data_binary_encoding)
data_binary_encoding

Collecting category_encoders
  Downloading category_encoders-2.9.0-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (2.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scikit-learn>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.16.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (0.14.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2025.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels>=0.9.0->category_encoders) (25.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)
Downloading category_encoders-2.9.0-py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.9/85.9 kB 5.9 MB/s eta 0:00:00
Installing collected packages: category_encoders
Successfully installed category_encoders-2.9.0

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Genres_0,Genres_1,Genres_2,Genres_3,Genres_4,Genres_5,Genres_6,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.100000,159,19M,10000,Free,Everyone,0,0,0,0,0,0,1,2018-01-07,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.900000,967,14M,500000,Free,Everyone,0,0,0,0,0,1,0,2018-01-15,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.700000,87510,8.7M,5000000,Free,Everyone,0,0,0,0,0,0,1,2018-08-01,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.500000,215644,25M,50000000,Free,Teen,0,0,0,0,0,0,1,2018-06-08,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.300000,967,2.8M,100000,Free,Everyone,0,0,0,0,0,1,1,2018-06-20,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.500000,38,53M,5000,Free,Everyone,0,0,0,1,1,1,0,2017-07-25,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.000000,4,3.6M,100,Free,Everyone,0,0,0,1,1,1,0,2018-07-06,1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,4.193338,3,9.5M,1000,Free,Everyone,1,0,1,0,1,1,0,2017-01-20,1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.500000,114,Varies with device,1000,Free,Mature 17+,0,0,0,0,1,1,1,2015-01-19,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.500000,398307,19M,10000000,Free,Everyone,0,0,1,1,1,1,0,2018-07-25,Varies with device,Varies with device

In [ ]:
data_frequency_encoding = data.copy()
for col in cat_columns:
  data_frequency_encoding[col] = data_frequency_encoding[col].map(data_frequency_encoding[col].value_counts())
data_frequency_encoding

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,1,63,4.100000,8,125,888,8920,7753,56,6,124,1364
1,2,63,3.900000,4,166,479,8920,7753,2,9,48,1364
2,1,63,4.700000,1,37,661,8920,7753,56,249,9,1364
3,1,63,4.500000,1,124,271,8920,1099,56,34,1267,362
4,1,63,4.300000,4,57,1014,8920,7753,7,35,241,811
...,...,...,...,...,...,...,...,...,...,...,...,...
10836,1,1814,4.500000,28,34,398,8920,7753,499,5,3,2261
10837,1,1814,5.000000,124,55,668,8920,7753,499,59,732,2261
10838,1,374,4.193338,158,21,765,8920,7753,374,2,732,202
10839,1,219,4.500000,11,1480,765,8920,412,219,1,1267,1186
10840,1,329,4.500000,1,125,1116,8920,7753,328,134,1267,1186

In [ ]:
import category_encoders as ce
data_target_encoding = data.copy()

encoder = ce.TargetEncoder(cols=['Category'])

# Fit and transform the 'Category' column using 'Rating' as the target
data_target_encoding['Category'] = encoder.fit_transform(data_target_encoding['Category'], data_target_encoding['Rating'])
data_target_encoding.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,4.382497,4.1,159,19M,10000,Free,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up
1,Coloring book moana,4.382497,3.9,967,14M,500000,Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",4.382497,4.7,87510,8.7M,5000000,Free,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,4.382497,4.5,215644,25M,50000000,Free,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,4.382497,4.3,967,2.8M,100000,Free,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up

In [ ]:
data.describe()

            Rating       Reviews      Installs                   Last Updated
count  9634.000000  9.634000e+03  9.634000e+03                           9634
mean      4.285732  4.360052e+05  1.517870e+07  2017-11-23 00:42:44.915922944
min       3.500000  0.000000e+00  0.000000e+00            2010-05-21 00:00:00
25%       4.100000  3.400000e+01  1.000000e+03            2017-09-21 00:00:00
50%       4.300000  2.371500e+03  1.000000e+05            2018-05-24 00:00:00
75%       4.500000  5.699900e+04  5.000000e+06            2018-07-20 00:00:00
max       5.000000  7.815831e+07  1.000000e+09            2018-08-08 00:00:00
std       0.308142  2.793818e+06  8.310366e+07                            NaN


I used several categorical encoding techniques: One-Hot Encoding, Label Encoding, Ordinal Encoding, Binary Encoding, and Frequency Encoding. el performance if the model tries to
In summary, for your dataset:

For features like Category and Genres (which are nominal but have varying numbers of unique values), Binary Encoding or Target Encoding are generally strong choices. Binary encoding balances dimensionality reduction with avoiding false ordinality. Target encoding can capture powerful predictive information if done correctly.
For features with few unique nominal categories (e.g., Type, Content Rating), One-Hot Encoding is often the safest and most interpretable choice.
For features with very high cardinality like App, Current Ver, Android Ver, or Last Updated, techniques like Binary Encoding, Frequency Encoding, or Target Encoding (if a clear target relationship exists) are preferable over One-Hot or Label Encoding to manage dimensionality and avoid artificial ordering. Label encoding was applied to these, but caution is advised if the numerical order doesn't reflect a true relationship.
The 'best' method ultimately depends on the specific machine learning model you plan to use and the inherent nature of the relationship between your categorical features and your target variable. Experimentation and model performance evaluation would be key to determining the most effective encoding for your specific task.