In [ ]:
import pandas as pd
data=pd.read_excel("Spam Email Detection.xlsx")
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [ ]:
data.isna().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [ ]:
data.duplicated().sum()

np.int64(409)

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data.duplicated().sum()

np.int64(0)

In [ ]:
data.isna().sum()

v1               0
v2               0
Unnamed: 2    5120
Unnamed: 3    5153
Unnamed: 4    5158
dtype: int64

In [ ]:
data.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], inplace=True)

In [ ]:
data.isna().sum()

v1    0
v2    0
dtype: int64

In [ ]:
cat_cols=data.select_dtypes(include="object").columns
cat_cols

Index(['v1', 'v2'], dtype='object')

In [ ]:
data.dtypes

v1    object
v2    object
dtype: object

In [ ]:
data_onehot=pd.get_dummies(data[cat_cols], drop_first=True)
data_onehot

,v1_spam,"v2_ came to look at the flat, seems ok, in his 50s? * Is away alot wiv work. Got woman coming at 6.30 too.","v2_ said kiss, kiss, i can't do the sound effects! He is a gorgeous man isn't he! Kind of person who needs a smile to brighten his day!","v2_ says that he's quitting at least5times a day so i wudn't take much notice of that. Nah, she didn't mind. Are you gonna see him again? Do you want to come to taunton tonight? U can tell me all about !",v2_&lt;#&gt; am I think? Should say on syllabus,v2_&lt;#&gt; great loxahatchee xmas tree burning update: you can totally see stars here,v2_&lt;#&gt; in mca. But not conform.,"v2_&lt;#&gt; is fast approaching. So, Wish u a very Happy New Year Happy Sankranti Happy republic day Happy Valentines Day Happy Shivratri Happy Ugadi Happy Fools day Happy May Day Happy Independence Day, Happy Friendship,Mother,Father,Teachers,Childrens Day, &amp; HAPPY BIRTHDAY 4 U. Happy Ganesh festival Happy Dasara Happy Diwali Happy Christmas &lt;#&gt; Good Mornings Afternoons, Evenings Nights. RememberI AM the first to WISHING U ALL THESE...your's Raj",v2_&lt;#&gt; mins but i had to stop somewhere first.,v2_&lt;#&gt; w jetton ave if you forgot,...,v2_�� ready then call me...,v2_�� say until like dat i dun buy ericsson oso cannot oredi lar...,v2_�� still attending da talks?,v2_�� still got lessons? �� in sch?,v2_�� takin linear algebra today?,v2_�� thk of wat to eat tonight.,v2_�� v ma fan...,v2_�� wait 4 me in sch i finish ard 5..,v2_��_ and don���t worry we���ll have finished by march ��_ ish!,"v2_��_ we r stayin here an extra week, back next wed. How did we do in the rugby this weekend? Hi to and and , c u soon \""\nham"""
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5568,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5569,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5570,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5571,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
!pip install category_encoders
import category_encoders as ce
data_binary_encoding = data.copy()
encoder = ce.BinaryEncoder(cols=['v2'])
data_binary_encoding = encoder.fit_transform(data_binary_encoding)
data_binary_encoding

Collecting category_encoders
  Downloading category_encoders-2.9.0-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (2.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: scikit-learn>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (1.16.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from category_encoders) (0.14.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category_encoders) (2025.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels>=0.9.0->category_encoders) (25.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)
Downloading category_encoders-2.9.0-py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.9/85.9 kB 2.6 MB/s eta 0:00:00
Installing collected packages: category_encoders
Successfully installed category_encoders-2.9.0

,v1,v2_0,v2_1,v2_2,v2_3,v2_4,v2_5,v2_6,v2_7,v2_8,v2_9,v2_10,v2_11,v2_12
0,ham,0,0,0,0,0,0,0,0,0,0,0,0,1
1,ham,0,0,0,0,0,0,0,0,0,0,0,1,0
2,spam,0,0,0,0,0,0,0,0,0,0,0,1,1
3,ham,0,0,0,0,0,0,0,0,0,0,1,0,0
4,ham,0,0,0,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,spam,1,0,1,0,0,0,0,1,0,0,1,1,1
5568,ham,1,0,1,0,0,0,0,1,0,1,0,0,0
5569,ham,1,0,1,0,0,0,0,1,0,1,0,0,1
5570,ham,1,0,1,0,0,0,0,1,0,1,0,1,0
5571,ham,1,0,1,0,0,0,0,1,0,1,0,1,1

In [17]:
data

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will �_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5163 rows x 2 columns]

In [20]:
from sklearn.model_selection import train_test_split
x=data_binary_encoding.drop(columns=["v1"])
y=data_binary_encoding["v1"]
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [23]:

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Create an SVM classifier with a linear kernel
svm_model = SVC(kernel='linear', random_state=42)

# Train the model
svm_model.fit(X_train, y_train)

# Make predictions on the training and test sets
y_train_pred_svm = svm_model.predict(X_train)
y_test_pred_svm = svm_model.predict(X_test)

# Evaluate the model
print("\n--- Support Vector Machine (SVM) Model Evaluation ---")
print("Training Accuracy (SVM):", accuracy_score(y_train, y_train_pred_svm))
print("Testing Accuracy (SVM):", accuracy_score(y_test, y_test_pred_svm))
print("\nClassification Report (SVM, Test Set):\n", classification_report(y_test, y_test_pred_svm))
print("\nConfusion Matrix (SVM, Test Set):\n", confusion_matrix(y_test, y_test_pred_svm))

NameError: name 'X_train' is not defined

In [24]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Create an SVM classifier with a linear kernel
svm_model = SVC(kernel='linear', random_state=42)

# Train the model
svm_model.fit(x_train, y_train)

# Make predictions on the training and test sets
y_train_pred_svm = svm_model.predict(x_train)
y_test_pred_svm = svm_model.predict(x_test)

# Evaluate the model
print("\n--- Support Vector Machine (SVM) Model Evaluation ---")
print("Training Accuracy (SVM):", accuracy_score(y_train, y_train_pred_svm))
print("Testing Accuracy (SVM):", accuracy_score(y_test, y_test_pred_svm))
print("\nClassification Report (SVM, Test Set):\n", classification_report(y_test, y_test_pred_svm))
print("\nConfusion Matrix (SVM, Test Set):\n", confusion_matrix(y_test, y_test_pred_svm))

--- Support Vector Machine (SVM) Model Evaluation ---
Training Accuracy (SVM): 0.8714285714285714
Testing Accuracy (SVM): 0.8877057115198451

Classification Report (SVM, Test Set):
               precision    recall  f1-score   support

         ham       0.89      1.00      0.94       917
        spam       0.00      0.00      0.00       116

    accuracy                           0.89      1033
   macro avg       0.44      0.50      0.47      1033
weighted avg       0.79      0.89      0.83      1033


Confusion Matrix (SVM, Test Set):
 [[917   0]
 [116   0]]

/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.12/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

# Initialize TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_features=5000) # Limiting features to 5000 to manage dimensionality

# Ensure all values in 'v2' are strings before fitting the vectorizer
data['v2'] = data['v2'].astype(str)

# Fit and transform the 'v2' column (text messages)
X_tfidf = tfidf_vectorizer.fit_transform(data['v2'])

# Convert X_tfidf to a DataFrame for easier handling, if needed, though sklearn models can work with sparse matrices directly
X_tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

# Prepare the target variable
y = data['v1']

# Split the data into training and testing sets with the new TF-IDF features
X_train_tfidf, X_test_tfidf, y_train_tfidf, y_test_tfidf = train_test_split(X_tfidf_df, y, test_size=0.2, random_state=42)

print("Shape of X_train_tfidf:", X_train_tfidf.shape)
print("Shape of X_test_tfidf:", X_test_tfidf.shape)

Shape of X_train_tfidf: (4130, 5000)
Shape of X_test_tfidf: (1033, 5000)

In [27]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Create an SVM classifier with a linear kernel
svm_model_tfidf = SVC(kernel='linear', random_state=42)

# Train the model with TF-IDF features
svm_model_tfidf.fit(X_train_tfidf, y_train_tfidf)

# Make predictions on the training and test sets
y_train_pred_svm_tfidf = svm_model_tfidf.predict(X_train_tfidf)
y_test_pred_svm_tfidf = svm_model_tfidf.predict(X_test_tfidf)

# Evaluate the model
print("\n--- Support Vector Machine (SVM) Model Evaluation with TF-IDF Features ---")
print("Training Accuracy (SVM with TF-IDF):", accuracy_score(y_train_tfidf, y_train_pred_svm_tfidf))
print("Testing Accuracy (SVM with TF-IDF):", accuracy_score(y_test_tfidf, y_test_pred_svm_tfidf))
print("\nClassification Report (SVM with TF-IDF, Test Set):\n", classification_report(y_test_tfidf, y_test_pred_svm_tfidf))
print("\nConfusion Matrix (SVM with TF-IDF, Test Set):\n", confusion_matrix(y_test_tfidf, y_test_pred_svm_tfidf))

--- Support Vector Machine (SVM) Model Evaluation with TF-IDF Features ---
Training Accuracy (SVM with TF-IDF): 0.9966101694915255
Testing Accuracy (SVM with TF-IDF): 0.9748305905130688

Classification Report (SVM with TF-IDF, Test Set):
               precision    recall  f1-score   support

         ham       0.98      0.99      0.99       917
        spam       0.93      0.84      0.88       116

    accuracy                           0.97      1033
   macro avg       0.96      0.91      0.93      1033
weighted avg       0.97      0.97      0.97      1033


Confusion Matrix (SVM with TF-IDF, Test Set):
 [[910   7]
 [ 19  97]]